<%- include('../includes/navigation.ejs') %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../includes/head.ejs') %>
        <div class="container-fluid">
            <div class="container">

                
                    <form action="/visite/<% if (editing) { %>edit-visite<% } else { %>add-visite<% } %>" method="POST" >
                      <h3><% if (editing) { %>Modifier une visite<% } else { %>Ajouter une visite<% } %></h3>
                      <div class="row">
                      <div class="col-lg-offset-2 col-lg-6 col-md-6 col-sm-12 centered">
                      <div class="form-group">
                          <label>Numéro d'identification</label>
                          <input value="<% if (editing) { %><%= visiteur.visit_doc_id %><% } %>" placeholder="numero identification" id="visit_doc_id" type="text" class="form-control" name="visit_doc_id" required>
                      </div>
                      <div class="form-group">
                          <label>Date d'expiration</label>
                          <input value="<% if (editing) { %><%= visiteur.doc_id_expiration %><% } %>" placeholder="Date d'expiration" id="doc_id_expiration" type="date" class="form-control" name="doc_id_expiration" required>
                      </div> 
                      <div class="form-group">
                          <label>Noms du visiteur</label>
                          <input value="<% if (editing) { %><%= visiteur.visit_fname %><% } %>" placeholder="Nom du visiteur" id="visit_fname" type="text" class="form-control" name="visit_fname" required>
                        </div>
                        <div class="form-group">
                          <label>Prénoms du visiteur</label>
                          <input value="<% if (editing) { %><%= visiteur.visit_lname %><% } %>" placeholder="Prénom du visiteur" id="visit_lname" type="text" class="form-control" name="visit_lname" required>
                        </div>
                        <div class="form-group"> 
                          <label>Type de visite</label>
                          <select id="visit_type" class="form-control" name="visite_type" required>
                            <option value="<% if (editing) { %><%= visite.visite_type %><% } %>">Type de visite</option>
                            <option value="Courtoisie">Courtoisie</option>
                            <option value="Affaires">Affaires</option>
                            <option value="Travail">Travail</option>
                          </select>
                        </div>
                          <% if (editing) { %>
                            <input type="hidden" value="<%= visiteur.id %>" name="visiteurId">
                          <% } %>
                          
                  </div>
                  <div class="col-lg-offset-2 col-lg-6 col-md-6 col-sm-12 centered">
                    <div class="form-group">  
                      <label>Compagnie</label>
                      <input value="<% if (editing) { %><%= visite.visite_company %><% } %>" placeholder="Compagnie" id="visite_company" type="text" class="form-control" name="visite_company" required>
                    </div>
                    <div class="form-group">  
                      <label>Date d'arrivée</label>
                      <input value="<% if (editing) { %><%= visiteur.arrival_time %><% } %>" placeholder="" id="arrival_time" type="date" class="form-control" name="arrival_time" required>
                    </div>
                    <div class="form-group">  
                      <label>Concerné par la visite</label>
                      <input value="<% if (editing) { %><%= visiteur.visite_concern %><% } %>" placeholder="Concerné par la visite" id="visit_concern" type="text" class="form-control" name="visite_concern" required>
                    </div>
                    <div class="form-group"> 
                      <label>Commentaires de la visite</label>
                      <textarea value="<% if (editing) { %><%= visiteur.visite_comment %><% } %>" placeholder="Commentaire" id="visit_comment" type="text" class="form-control" name="visite_comment" required></textarea>
                    </div>
                    <div class="form-group"> 
                      <% if (editing) { %>
                        <input type="hidden" value="<%= visite.id %>" name="visiteId">
                      <% } %>  
                    </div>
                    <br>
                    <div class="form-group"> 
                      <button class="btn btn-primary" type="submit"><% if (editing) { %>Modifier visite<% } else { %>Ajouter visite<% } %></button>  
                    </div>
                          
                  </div>
                  </form>
                  <br>
                </div>
            </div>
      </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>