<%- include('../includes/navigation.ejs') %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../includes/head.ejs') %>
        <div class="container-fluid">
            <div class="container">

                <div class="col-lg-8col-md-8">
                    <form action="/visite/<% if (editing) { %>edit-visite<% } else { %>add-visite<% } %>" method="POST" >
                      <h3><% if (editing) { %>Modifier une visite<% } else { %>Ajouter une visite<% } %></h3>
                      <div class="col-lg-offset-2 col-lg-10 col-md-6 col-sm-12 centered">
                      
                      <div class="showback">
                          <br>
                          <input value="<% if (editing) { %><%= visiteur.site_name %><% } %>" placeholder="numero identification" id="visiteur_name" type="text" class="form-control" name="site_name" required>
                          <br>
                          <input value="<% if (editing) { %><%= visite.site_active %><% } %>" placeholder="Site active" id="site_active" type="text" class="form-control" name="site_active" required>
                          <br>
                          <input value="<% if (editing) { %><%= visite.site_name %><% } %>" placeholder="Nom du site" id="site_name" type="text" class="form-control" name="site_name" required>
                          <br>
                          <input value="<% if (editing) { %><%= visite.site_active %><% } %>" placeholder="Site active" id="site_active" type="text" class="form-control" name="site_active" required>
                          <br>
                          <% if (editing) { %>
                            <input type="hidden" value="<%= visite.id %>" name="visiteId">
                          <% } %>
            
                            <button class="btn btn-primary" type="submit"><% if (editing) { %>Modifier visite<% } else { %>Ajouter visite<% } %></button>
                      </div>
                  </div>
                  </form>
                  <br>
                </div>
            </div>
      </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>