
    <%- include('../includes/navigation.ejs') %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../includes/head.ejs') %>
        <div class="container-fluid">
            <div class="container">



 <% if (sites.length > 0) { %>
    <div class="container">
        <% for (let site of sites) { %>
            <div class="card">
                <div class="col-lg-4">
                    <h1 class="product__title">
                        <%= site.site_name %>
                    </h1>
                </div>
                
                <div class="col-lg-4">
                    <h2 class="product__price">
                        <%= site.site_active %>
                    </h2>
                </div>
                <div class="col-lg-4">
                    <a href="/site/edit-site/<%= site.id %>?edit=true" class="btn btn-primary">Modifier</a>
                    <form action="/site/delete-site" method="POST">
                        <input type="hidden" value="<%= site.id %>" name="siteId">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>

                </div>
            </div>
            <% } %>
    </div>
    <% } else { %>
        <h1>Pas de sites !</h1>
        <% } %>

    </div>
</div>
</div>
</div>
<%- include('../includes/end.ejs') %>